<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<%= button_to "Fetch Users", fetch_users_users_path, method: :get, class: 'btn btn-primary' %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody id="users">
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.gender %></td>
        <td><%= user.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
